= render 'shared/side_bar'
%div.chat-main
  %div.chat-main__header
    %div.chat-main__header--group.clearfix
      %div.chat-main__header--group-name test男
      %a.chat-main__header--group-edit-btn{ href: '', id: 'none' } Edit
    %div.chat-main__header-members
      MEMBER:
      %i
      sample

  -# %div.chat-main__body
  -#   %div.chat-main__body--messages-list
  -#     %div.chat-main__message.clearfix
  -#       %div.chat-main__message-name sample
  -#       %div.chat-main__message-time 2019/02/03 02:05:57
  -#       %div.chat-main__message-body
  -#         aaaaaa
  -#         %img.chat-main__message-body-image

  .messages
    = render @messages

  %div.chat-main__footer
    .form
      .chat-main__footer-body
        = form_for [@group, @message], html: {id: 'new_message'} do |f|
          = f.text_field :content, class: 'message', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: ' chat-file' do
              = fa_icon 'picture-o', class: 'chat-main__footer-body image'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'submit'
